[submodule "project-resq"]
	path = project-resq
	url = https://github.com/Ther-LF/project-resq.git
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/ResComp"]
	path = third_party/ResComp
	url = https://github.com/list0830/ResComp.git
[submodule "third_party/comet-25"]
	path = third_party/comet-25
	url = https://github.com/rhmaaa/comet-25.git
[submodule "third_party/mixed_tensor"]
	path = third_party/mixed_tensor
	url = https://github.com/Ther-LF/mixed_tensor.git
[submodule "sglang"]
	path = sglang
	url = https://github.com/Ther-LF/sglang.git
[submodule "third_party/DeepGEMM"]
	path = third_party/DeepGEMM
	url = https://github.com/deepseek-ai/DeepGEMM.git
[submodule "third_party/flashinfer"]
	path = third_party/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
[submodule "third_party/LLM-Infra-Reference"]
	path = third_party/LLM-Infra-Reference
	url = git@github.com:Ther-LF/LLM-Infra-Reference.git
[submodule "third_party/quack"]
	path = third_party/quack
	url = https://github.com/Dao-AILab/quack.git
[submodule "third_party/sglang"]
	path = third_party/sglang
	url = https://github.com/sgl-project/sglang.git
[submodule "third_party/vllm"]
	path = third_party/vllm
	url = https://github.com/vllm-project/vllm.git
