[submodule "project-resq"]
	path = project-resq
	url = https://github.com/Ther-LF/project-resq.git
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/ResComp"]
	path = third_party/ResComp
	url = https://github.com/list0830/ResComp.git
[submodule "third_party/comet-25"]
	path = third_party/comet-25
	url = https://github.com/rhmaaa/comet-25.git
[submodule "third_party/mixed_tensor"]
	path = third_party/mixed_tensor
	url = https://github.com/Ther-LF/mixed_tensor.git
[submodule "sglang"]
	path = sglang
	url = https://github.com/Ther-LF/sglang.git
